﻿@{
    ViewBag.Title = "Confirmation de réinitialisation du mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Votre mot de passe a été réinitialiser. @Html.ActionLink("Cliquer ici pour se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
