﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dd {
    background: rgba(255, 0, 0, 0.3);
}

.gg {
    background: rgba(0, 255, 0, 0.3);
}

.bb {
    background: rgba(0,0, 255, 0.3);
}
/*************************************************************************/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -100px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

table {
    background-color: white;
    border-radius: 15px;
}

#code {
    text-align: center;
}
#infoTable {
    float: right;
    background-color: transparent;
}

#brownLink {
    color : brown;
    font-weight:550;
}
#particulier {
    margin-top: 40px;
}

dl {
    margin-top:-20px;
}

#L {
    text-align:left;
}

#buttonMargin {
    margin-left:80px;
}

#centerDiv {
    display: inline-block;
}

#wrapper {
    text-align: center;
}

#parameterLinks {
    width: 250px;
}

#smallParameterLinks {
    width: 150px;
}

#noteDiv {
    background: white;
    width: 100%;
    height: 130px;
    border-radius: 15px;
}

#headerDiv {
    width: 100%;
    height: 37px;
    background: rgba(255,0,0,0.1);
    border-radius: 15px 15px 0 0;
}

#note {
    margin-left: 25px;
    padding-top: 9px;
    font-weight: 600;
}

#noteP {
    padding-top: 9px;
    margin-left: 14px;
    margin-right: 14px;
}
